@import '../styles/variables';

.content {
  max-width: $container-width-m;
  margin: 0 auto;

  & > * {
    grid-column: main;
  }
}

.postWrapper {
  padding: $content-padding;
  .heading {
    margin: $half-gap 0;
  }

  .sub {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: $half-gap;
    flex-wrap: wrap;

    .date {
      display: inline;
      margin: $half-gap 0;
      font-weight: bold;
      text-transform: uppercase;
      color: $light-gray;
    }

    .tags {
      display: none;
    }

    .update {
      display: inline;
      font-weight: bold;
      text-transform: uppercase;
      color: $light-gray;
      margin: $half-gap 0 $half-gap auto;
      flex-basis: 100%;
    }
  }
  .postContent {
    p,
    ol,
    ul {
      font-size: 1.2rem;
    }

    code {
      font-size: 1rem;
    }

    pre {
      background-color: white;
      margin: 0 (-$half-gap) 1.5rem (-$half-gap);
    }

    :not(pre) > code {
      background: white;
    }

    figcaption {
      margin-top: $half-gap;
      text-align: center;
      font-style: italic;
    }

    strong {
      span {
        @include elevation;
      }
    }

    p > strong {
      font-weight: bolder;
    }

    blockquote {
      display: flex;
      color: $gray;
      font-style: italic;
      border: none;
      margin-left: 0;
      &::before {
        content: "\"";
        font-size: 3.5rem;
        color: $accent-color;
        margin-right: 8px;
      }
    }
  }
}

@media screen and (min-width: $break-m) {
  .content {
    display: grid;
    grid-template-columns: [main] auto [side] 80px;
    grid-template-rows: auto;
    .postWrapper {
      padding: 0;

      .heading {
        margin-top: 48px;
      }

      .sub {
        margin-bottom: $big-gap;

        .date {
          margin: 0 $gap 0 0;
        }

        .tags {
          display: inline-flex;
        }

        .update {
          flex-basis: auto;
        }
      }

      .postContent pre {
        margin: 0 0 1.5rem 0;
      }
    }
  }
}
