@import "../styles/variables";

.content {
  max-width: $container-width-m;
  margin: 0 auto;
}

.heading {
  margin-top: $gap;
  margin-bottom: $half-gap;
}

.sub {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: $gap;

  .date {
    display: inline;
    margin: 0 0 0 -16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: $half-gap $gap;
    background: $accent-color-dark;
  }
  .tags {
    display: none;
  }
}

.postContent {

  p {
    font-size: 1.2rem;
  }

  code {
    font-size: 1rem;
  }

  pre {
    background-color: white;
    margin-bottom: 1.5rem;
    @include elevation;
  }

  :not(pre) > code {
    background: white;
  }

  figcaption {
    margin-top: $half-gap;
    text-align: center;
    font-style: italic;
  }

  strong {
    font-weight: normal;

    span {
      @include elevation;
    }
  }

  p > strong {
    font-weight: bolder;
  }

  blockquote {
    border-left-color: $accent-color;
    font-style: italic;
  }
}


@media screen and (min-width: $break-m) {
  .sub {
    .date {
      margin: 0 $gap 0 0;
    }
    .tags {
      display: inline-flex;
    }
  }
}
