$container-width-m: 964px;
$container-width: 1280px;

$big-gap: 32px;
$gap: 16px;
$half-gap: 8px;
$quarter-gap: 4px;

$content-padding: $half-gap;

$accent-color: #77a354;
$accent-color-dark: darken($accent-color, 5%);
$background-color: #f0f1f3;
$background-color-dark: #e2e3e5;
$light-gray: #657786;
$gray: #515153;
$dark-gray: #3a3a3a;
$shadow-color: rgba(57, 63, 72, 0.3);

$break-m: 768px;
$break-l: 1024px;

@mixin _inset {
  box-shadow: inset 0 0 $quarter-gap $shadow-color;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin inset {
  &::after {
    @include _inset()
  }
}

@mixin inset-round {
  &::after {
    @include _inset();
    border-radius: 50%;
  }
}

@mixin elevation {
  box-shadow: 0 $quarter-gap $half-gap $shadow-color;
}

@mixin no-elevation {
  box-shadow: unset;
}

@mixin not-s {
  @media (min-width: #{$break-m}) {
    @content;
  }
}

@mixin m {
  @media (min-width: #{$break-m}) and (max-width: #{$break-l - 1px}) {
    @content;
  }
}

@mixin l {
  @media (min-width: #{$break-l}) {
    @content;
  }
}
