@import "variables";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

body {
  background: $background-color;
}

a {
  color: inherit;
}

button {
  all: unset;
}

.btn {
  background: $accent-color;
  padding: 12px $gap;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  @include elevation;

  &:hover {
    background: $accent-color-dark;
  }
}

.content-padding {
  padding: $content-padding;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  max-width: $container-width;
  width: 100%;
  flex: 1 0 auto;
  margin: 64px auto 0;
}

.date {
  margin: $half-gap 0;
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  color: $light-gray;
  display: block;
  width: fit-content;
}

.link {
  color: $accent-color;
  text-decoration: none;
  font-weight: bold;
}

.text {
  font-size: 1.2rem;
  max-width: $container-width-m;
}

.custom-block.info {
  background-color: white;
  margin: 0 (-$half-gap) 1.5rem (-$half-gap);
  padding: $half-gap $gap;
  border-left: 0.25rem solid $accent-color;
  font-style: italic;

  .custom-block-body {
    p {
      margin: 0;
    }
  }
}

.toc {
  display: block;
  margin: 0 (-$half-gap);
  ul {
    background-color: $background-color-dark;
    list-style: none;
    padding: $gap;
    margin: 0;
    &::before {
      content: 'Contents';
      margin-bottom: 40px;
      font-weight: bold;
    }
    li {
      margin-bottom: $half-gap;
      &:first-of-type {
        margin-top: $half-gap;
      }
    }
  }
}

@media all and (min-width: $break-m) {
  .content {
    margin: 0 auto;
  }

  .custom-block.info {
    @include elevation;
    margin: 0 0 1.5rem 0;
  }

  .toc {
    float: right;
    margin-left: $big-gap;
    margin-bottom: $big-gap;
  }
}

