@import "variables";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background: $background-color;
}

a {
  color: inherit;
}

button {
  all: unset;
}

.btn {
  background: $accent-color;
  padding: 12px $gap;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  @include elevation;
  &:hover {
    background: $accent-color-dark;
  }
}

.content-padding {
  padding: $content-padding;
}

.site {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

.content {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  flex: 1 0 auto;
}

