@import "../styles/variables";

.writing {
  height: 128px;
}

.cta {
  margin: $gap auto;display: flex;
  justify-content: center;
  width: 100%;
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: $gap;

  .post {
    display: none;
    &:first-of-type {
      display: block;
    }
  }
}

.text {
  font-size: 1.2rem;
  max-width: $container-width-m;
}

.talkCta {
  height: 30vw;
  max-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
  .talkImg {
    opacity: 0.5;
    filter: blur(1px);
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: $container-width;
  }

  .talkBtn {
    z-index: 1;
  }
}


@media screen and (min-width: $break-m) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr;
    .post {
      display: block;
    }
  }

  .text {
    font-size: 1.5rem;
  }
}
