@import '../styles/variables';

.writing {
  height: 128px;
}

.cta {
  margin: $gap auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: $gap;

  .post {
    display: none;
    &:first-of-type {
      display: flex;
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: $gap;
}

.book {
  @include elevation;
  border-radius: 32px;
  background-color: white;
  width: 100%;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;

  .bookDesc {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
  }

  .bookImg {
    display: flex;
  }

  p {
    font-size: 1.2rem;
  }
}

.bio {
  margin-top: $half-gap;
}

.talkCta {
  height: 30vw;
  max-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
  .talkImg {
    opacity: 0.5;
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: $container-width;
  }

  .talkBtn {
    z-index: 1;
  }
}

@include lg-m() {

  .book {
    flex-direction: row;

    .bookImg {
      justify-content: center;
    }

    img {
      border-radius: 32px 0 0 32px;
    }
  }

  .posts {
    grid-template-columns: 1fr 1fr 1fr;
    .post {
      display: flex;
    }
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .bio {
    margin: unset;
  }

  .text {
    font-size: 1.5rem;
  }
}
