@import "../styles/variables";

.newsletterCta {
  display: flex;
  justify-content: center;

  .newsletterImg {
    display: none;
  }
}

@media screen and (min-width: $break-m) {
  .newsletterCta {
    flex-direction: column;
    justify-content: normal;
    .newsletterImg {
      display: flex;
    }
  }
}


@media screen and (min-width: $break-l) {
  .content {
    padding: $content-padding;
  }
  .newsletterCta {
    flex-direction: row;
    max-height: 526px;
    .newsletterImg {
      flex: 1;
    }
  }
}
