@import "../styles/variables";

.newsletterCta {
  display: flex;

  .newsletterImg {
    display: none;
  }
}

@media screen and (min-width: $break-m) {
  .newsletterCta {
    flex-direction: column;

    .newsletterImg {
      display: flex;
    }
  }
}


@media screen and (min-width: $break-l) {
  .newsletterCta {
    flex-direction: row;
    max-height: 526px;
    .newsletterImg {
      flex: 1;
    }

    .newsletterForm {
      background: #f6f6f6;
    }
  }
}
