@import "../styles/variables";

.talks {
  display: flex;
  flex-direction: column;

  .talk {
    display: flex;
    background: white;
    margin-bottom: $gap;
    flex-direction: column;
    @include elevation();

    .banner {
      width: 100%;
    }

    .content {
      flex: 1;
      padding: $gap;

      .sub {
        display: flex;
        flex-direction: column;
        margin-bottom: $half-gap;
      }

      .name {
        margin: 0 0 $half-gap;
      }
      .description {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: $break-m) {
  .talks {
    .talk {
      flex-direction: row;
      .banner {
        width: 30vw;
      }
    }
  }
}
