@import '../styles/variables';

.header {
  z-index: 1;
  background: $header-color;
  width: 100%;
  @include elevation;
  .content {
    display: flex;
    max-width: $container-width;
    margin: 0 auto;
    align-items: center;
    padding: $gap $half-gap;
  }
  .pageHeadingWrapper {
    display: flex;
    flex-direction: column;
    padding-left: $gap;
    color: white;
    .heading {
      color: white;
      margin: 0;
    }
    .claim {
      margin: $half-gap 0 0 0;
    }
  }

  .logo {
    min-width: 64px;
  }

  @media all and (max-width: $break-m) {
    .content {
      padding: $half-gap;
    }
  }
}
