@import '../styles/variables';

.header {
  z-index: 1;
  background: $background-color;
  width: 100%;
  .content {
    display: flex;
    max-width: $container-width;
    margin: 0 auto;
    align-items: center;
    padding: $gap $half-gap;
  }
  .pageHeadingWrapper {
    display: flex;
    flex-direction: column;
    padding-left: $gap;
    .heading {
      margin: 0;
      color: $gray;
    }
  }

  .logo {
    min-width: 64px;
  }

  .nav {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    a {
      text-decoration: none;
    }
  }

  @media all and (max-width: $break-m) {
    .content {
      padding: $half-gap;
    }
  }
}
