@import '../styles/variables';

$animation: 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);

.header {
  z-index: 1;
  width: 100%;
  height: 64px;
  position: fixed;
  background: white;
  @include elevation;

  .content {
    display: flex;
    max-width: $container-width;
    margin: 0 auto;
    align-items: center;
    padding: $half-gap;
  }

  .pageHeadingWrapper {
    display: flex;
    flex-direction: column;
    padding-left: $gap;

    .heading {
      margin: 0;
      color: $gray;

      .firstname {
        display: none;
      }
    }
  }

  .logo {
    min-width: 48px;
  }

  .menu {
    display: block;
    color: $gray;
    margin-left: auto;
    z-index: 1;
    padding: $half-gap;
    transform: color $animation;

    &.open {
      color: $accent-color;
    }
  }

  .nav {
    display: flex;
    user-select: none;
    position: absolute;
    top: 0;
    right: -100vw;
    background: white;
    width: 100vw;
    flex-direction: column;
    flex: 1;
    padding: $gap;
    margin-top: 64px;
    transition: right $animation;

    &.open {
      @include elevation;
      right: 0;
    }

    .link {
      text-decoration: none;
      color: $gray;
      font-weight: bold;
      text-transform: uppercase;
      margin: $gap 0;
      text-align: center;
    }
  }

  @media all and (min-width: $break-m) {
    position: relative;
    background: $background-color;
    @include no-elevation;
    .content {
      padding: $gap $half-gap;
    }

    .menu {
      display: none;
    }

    .nav {
      background: none;
      margin: 0;
      padding: 0 64px;
      flex-direction: row;
      position: relative;
      @include no-elevation;
      right: 0;

      .link {
        &:hover {
          color: $accent-color;
        }

        margin-right: $gap * 2;
      }
    }
    .pageHeadingWrapper .heading .firstname {
      display: inline;
    }
  }
}
