@import "../styles/styles";
@import '../styles/variables';

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  padding: 0 $half-gap;
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  flex: 1 0 auto;
}