@import "../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  @include elevation;
}

.innerWrapper {
  padding: $gap;
  display: flex;
  flex-direction: column;
  flex: 1;

  .headlineLink {
    text-decoration: none;
  }

  .title {
    margin: $half-gap 0;
  }

  .excerpt a {
    text-decoration: none;
  }

  .tags {
    margin-top: auto;
  }
}
