@import "../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  @include elevation;
}

.innerWrapper {
  padding: $gap;
  display: flex;
  flex-direction: column;
  flex: 1;

  .headlineLink {
    text-decoration: none;
  }

  .title {
    margin: $half-gap 0;
  }

  .subtitle {
    margin: 0 0 8px -16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: $accent-color-dark;
    padding: $half-gap $gap;
    display: block;
    width: 190px;
  }

  .excerpt a {
    text-decoration: none;
  }

  .tags {
    margin-top: auto;
  }
}
