@import "../styles/variables";

.sharing {
  margin: 0 0 $gap 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $half-gap $gap;
    border-radius: $half-gap;
    border: 3px solid $accent-color-dark;

    i {
      padding: $quarter-gap $half-gap;
      display: flex;
    }

    a {
      display: flex;
      padding: $quarter-gap $half-gap;
      text-decoration: none;

      span {
        display: inline;
      }
    }

    &:hover {
      background: $accent-color-dark;
      color: white;
    }
  }
}

@media screen and (min-width: $break-m) {

  .sharing {
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin-top: 48px;
    margin-left: 24px;

    li a span {
      display: none;
    }
  }
}
