@import "../styles/variables";

.tags {
  display: inline-flex;

  .tag {
    text-transform: uppercase;
    color: $accent-color;
    font-weight: bold;
    margin-right: $quarter-gap;
    border-radius: $gap;
    padding-right: $gap;
  }
}
