@import "../styles/variables";

.tags {
  display: inline-flex;
  margin-bottom: 1.5rem;
  .tag {
    padding: 0 $half-gap;
    color: $header-color;
    font-weight: bold;
    margin-right: $quarter-gap;
    border-radius: $gap;
  }
}
